<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap3 rescap">

  <Identity
    Name="VirtualPdfPrinterPSA"
    Publisher="CN=VirtualPdfPrinterPSA"
    Version="1.0.12.0" />

  <Properties>
    <DisplayName>VirtualPdfPrinterPSA</DisplayName>
    <PublisherDisplayName>andreii</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.22000.0" MaxVersionTested="10.0.22621.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application Id="App"
                 Executable="$targetnametoken$.exe"
                 EntryPoint="VirtualPdfPrinterPSA.App">
      <uap:VisualElements
        DisplayName="VirtualPdfPrinterPSA"
        Description="VirtualPdfPrinterPSA"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="ImAssetsages\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>

      <Extensions>
        <!-- PSA Virtual Printer Declaration -->
        <uap3:Extension Category="windows.printSupportApp">
          <uap3:PrintSupportApp>
            <!-- Background Task Declaration -->
            <uap3:BackgroundTasks>
              <uap3:Task Type="virtualPrinter" EntryPoint="VirtualPdfPrinterPSA.VirtualPrinterBackgroundTask" />
            </uap3:BackgroundTasks>

            <!-- Virtual Printer Configuration -->
            <uap3:PrintSupportVirtualPrinter>
              <uap3:Name>Virtual PDF Printer Queue Name</uap3:Name>
              <uap3:PortName>VirtualPDFPrinterQueueNamePort:</uap3:PortName>
              <uap3:DriverName>Microsoft XPS Document Writer v4</uap3:DriverName>
            </uap3:PrintSupportVirtualPrinter>
          </uap3:PrintSupportApp>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

  <rescap:Capabilities>
    <rescap:Capability Name="printSupportApp" />
  </rescap:Capabilities>
</Package>
